{% include base_path %}

<section class="page__share">
  {% if site.data.ui-text[site.locale].share_on_label %}
    <h4 class="page__share-title">{{ site.data.ui-text[site.locale].share_on_label }}</h4>
  {% endif %}

  <a href="https://www.researchgate.net/profile/Daniel-Margerit" class="btn btn--researchgate" title="ResearchGate">
    <i class="fa fa-fw fa-graduation-cap" aria-hidden="true"></i>
    <span> ResearchGate</span>
  </a>

  <a href="https://scholar.google.com/citations?user=52Zud-kAAAAJ&hl=en" class="btn btn--google-scholar" title="Google Scholar">
    <i class="fa fa-fw fa-google" aria-hidden="true"></i>
    <span> Google Scholar</span>
  </a>

  <a href="https://www.linkedin.com/in/daniel-margerit-2705a49a/" class="btn btn--linkedin" title="LinkedIn">
    <i class="fa fa-fw fa-linkedin" aria-hidden="true"></i>
    <span> LinkedIn</span>
  </a>

  <a href="https://bsky.app/profile/danielmargerit.bsky.social" class="btn btn--bluesky" title="Bluesky">
    <i class="fa fa-fw fa-cloud" aria-hidden="true"></i>
    <span> Bluesky</span>
  </a>

  <a href="https://mathstodon.xyz/@danielmargerit" class="btn btn--mastodon" title="Mastodon">
    <i class="fa fa-fw fa-mastodon" aria-hidden="true"></i>
    <span> Mastodon</span>
  </a>
 
 </section>